<link rel="stylesheet" href="page.css" media="screen">
<link rel="stylesheet" href="Página-1.css" media="screen">
<script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
<script class="u-script" type="text/javascript" src="page.js" defer=""></script>

<link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
<link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">

<section class="u-clearfix u-image u-section-1" id="carousel_86ce" data-image-width="1859" data-image-height="1500">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-30">
              <div class="u-layout-col">
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-1">
                  <div class="u-container-layout">
                    <img src="images/depositphotos_65129811-stock-illustration-chauffeur-icon.jpg" alt="" class="u-image u-image-default u-preserve-proportions u-image-1" data-image-width="600" data-image-height="600">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-left-cell u-size-60 u-white u-layout-cell-2">
                  <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <h1 class="u-text u-text-1">Registro de conductores</h1>
                    <p class="u-text u-text-2">Tome en cuenta que un conductor puede conducir varias unidades de diferentes cooperativas</p>
                    <div class="u-expanded-width u-form u-form-1">
                      <form action="#" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 0;" source="custom" name="form">
                        <div class="u-form-group u-form-name u-form-partition-factor-2 u-form-group-1">
                          <label for="name-d70e" class="u-label">Nombre</label>
                          <input type="text" id="name-d70e" name="name" class="u-border-1 u-border-palette-5-base u-input u-input-rectangle u-white" required="">
                        </div>
                        <div class="u-form-email u-form-group u-form-partition-factor-2 u-form-group-2">
                          <label for="email-d70e" class="u-label">Cedula</label>
                          <input type="email" placeholder="" id="email-d70e" name="email" class="u-border-1 u-border-palette-5-base u-input u-input-rectangle u-white" required="">
                        </div>
                        <div class="u-form-address u-form-group u-form-group-3">
                          <label for="address-2127" class="u-label">Tipo Licencia de conducir</label>
                          <input type="text" placeholder="" id="address-2127" name="address" class="u-border-1 u-border-palette-5-base u-input u-input-rectangle u-white" required="">
                        </div>
                        <div class="u-form-group u-form-group-4">
                          <label for="text-e1f9" class="u-label">Direccion domiciliaria</label>
                          <input type="text" placeholder="" id="text-e1f9" name="text" class="u-border-1 u-border-palette-5-base u-input u-input-rectangle u-white">
                        </div>
                        <div class="u-form-group u-form-group-5">
                          <label for="text-2dde" class="u-label">Correo electronico</label>
                          <input type="text" placeholder="" id="text-2dde" name="text-1" class="u-border-1 u-border-palette-5-base u-input u-input-rectangle u-white">
                        </div>
                        <div class="u-align-left u-form-group u-form-submit u-form-group-6">
                          <a href="#" class="u-btn u-btn-submit u-button-style u-palette-5-base u-btn-1">Guardar</a>
                          <input type="submit" value="submit" class="u-form-control-hidden">
                        </div>
                        <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                        <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                        <input type="hidden" value="" name="recaptchaResponse">
                      </form>
                    </div>
                    <p class="u-text u-text-3">Al seleccionar el boton de guardar acepta nuestro aviso de privacidad
                     y los términos y condiciones</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>