 <section class="u-clearfix u-section-1" id="carousel_123b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-24 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-align-center u-text u-text-1">Historial de boleteria</h2>
                  <p class="u-text u-text-2">
                    En este lugar podras accedera tus viajes realizados a traves de tu cuenta. Puedes canjear los boletos adquiridos siempre y cuando sean de la misma compania y aun no hayan salido.

                  </p>
                </div>
              </div>
              <div class="u-align-right u-container-style u-layout-cell u-size-36 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom u-container-layout-2">
                  <img src="images/703830389-0.jpeg" alt="" class="u-image u-image-default u-image-1" data-image-width="150" data-image-height="107">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-2ae7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-heading-font u-subtitle u-text u-text-1">Consulta los de​stinos que has tomado</h2>
        <div class="u-form u-form-1">
          <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px" source="custom">
            <div class="u-form-group u-form-name u-form-group-1">
              <label for="name-558c" class="u-form-control-hidden u-label">Name</label>
              <input type="text" placeholder="Destino" id="name-558c" name="Destino" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-group u-form-submit u-form-group-2">
              <a href="#" class="u-btn u-btn-submit u-button-style">Consultar<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
            <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-3" id="sec-aa2b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="#" class="u-btn u-btn-round u-button-style u-hover-palette-3-dark-1 u-palette-1-dark-1 u-radius-50 u-btn-1">Canjear Boleto</a>
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
          <table class="u-table-entity u-table-entity-1">
            <colgroup>
              <col width="25%">
              <col width="25%">
              <col width="25%">
              <col width="25%">
            </colgroup>
            <thead class="u-black u-table-header u-table-header-1">
              <tr style="height: 21px;">
                <th class="u-border-1 u-border-black u-table-cell">Origen</th>
                <th class="u-border-1 u-border-black u-table-cell">Destino</th>
                <th class="u-border-1 u-border-black u-table-cell">Fecha</th>
                <th class="u-border-1 u-border-black u-table-cell">Hora</th>
              </tr>
            </thead>
            <tbody class="u-table-body">
              <tr style="height: 75px;">
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
              </tr>
              <tr style="height: 48px;">
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
              </tr>
              <tr style="height: 76px;">
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
              </tr>
              <tr style="height: 76px;">
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    