{{>navigation}}

<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>Viaja fácil y rapido</h1>
            <!--<p>Restaurant / Coffee / Pub</p>-->

            <a href="#portfolio" class="btn btn-custom btn-lg page-scroll">Buscar ruta</a>
            <div class="container p-4" class="intro">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 ">
          <div class="about-img"><img src="img/logo5.png" class="img-responsive" alt=""></div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <h2>Sobre Nosotros</h2>
            <hr>
            <p>Brindamos una gestion segura de viajes en transporte terrestre en el sur del Ecuador.</p>
            <h3>Nuestro Objetivo</h3>
            <p>Facilitar a los lojanos la gestión de sus viajes por transporte terrestre y los pagos de los mismos</p>
          </div>
        </div>
      </div>
  </div>