<!-- Navegacion -->
<nav id="menu" class="navbar navbar-default navbar-fixed " style="background-color: rgb(31, 30, 30);">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand page-scroll" href="#page-top">TrackHub</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/guardarCooperativa/add" class="page-scroll">Inicio</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Cooperativas
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#nuevaCooperativa">Nuevo</a></li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modificarCooperativa">Modificar</a></li>
                        <li><a class="dropdown-item" href="#">Asignar Administrador</a></li>
                        <li><a class="dropdown-item" href="#"data-bs-toggle="modal" data-bs-target="#dardebajaCooperativa">Dar de Baja</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Administradores
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Nuevo</a></li>
                        <li><a class="dropdown-item" href="#">Modificar</a></li>
                        <li><a class="dropdown-item" href="#">Dar de Baja</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Cuenta
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="#">Seguridad</a></li>
                        <li><a class="dropdown-item" href="#">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
</nav>
{{>nueva_cooperativa}}

<div class="modal" id="modificarCooperativa" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Modificar Cooperativa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">


                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cooperativas}}
                        <tr>
                            <td>{{nombre}}</td>
                            <td>{{direccion}}</td>
                            <td><a href="/guardarCooperativa/modify/{{_id}}"><i class="fas fa-edit"></i></a></td>
                        </tr>
                        {{else}}
                        <div class="card mx-auto text-center" style="background: rgb(255, 105, 105);">
                            <div class="card-body"></div>
                            <p class="lead">ERROR: No hay cooperativas agregadas</p>
                            <a href="/guardarCooperativa/add" class="btn btn-danger">Aceptar</a></a>
                        </div>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{{>dar_de_baja}}