<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="xc60, Safe. Relaxing. Good to ride in. Subtly decorated., How does it work, Car Servicing, Safe. Relaxing. Good to ride in. Subtly decorated.">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Administrador Cooperativa</title>
    <link rel="stylesheet" href="/estilosHomeAdmins/estilos.css" media="screen">
    <link rel="stylesheet" href="/estilosHomeAdmins/Página-2.css" media="screen">
    <script class="u-script" type="text/javascript" src="/estilosHomeAdmins/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/estilosHomeAdmins/doc.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="/estilosHomeAdmins/disenio.css" media="screen">
    <link id="u-page-google-font" rel="stylesheet" href="/estilosHomeAdmins/disenio2.css" media="screen">
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html",
		"logo": "images/default-logo.png"
}</script>
    <meta property="og:title" content="Página 2">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:url" content="index.html">

    <link rel="stylesheet" href="/estilosHomeAdmins/css/bootstrap.min.css">
    <link rel="stylesheet" href="/estilosHomeAdmins/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/estilosHomeAdmins/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/estilosHomeAdmins/css/magnific-popup.css">
    <link rel="stylesheet" href="/estilosHomeAdmins/css/style.css">

    <script src="https://kit.fontawesome.com/af1242652e.js" crossorigin="anonymous"></script>

  </head>

{{>navegacionAdmin}}


    <section class="u-align-center u-clearfix u-image u-section-1" id="carousel_bd75" data-image-width="1280" data-image-height="960">
      <div class="u-clearfix u-sheet">

        <h1 class="u-align-center-xs u-custom-font u-font-lato u-text u-title u-text-1">ADMINISTRADOR</h1>
        <h4 class="u-align-center-xs u-custom-font u-text u-text-font u-text-2">DE COOPERATIVA DE TRANSPORTES </h4>
      </div>
    </section>


<div class="container pb-lg">
          <div class="row">
            <div class="col-md-12">
              <div class="fh5co-heading text-center">
                  <h2 class="fh5co-heading-title">Área de Administración <span class="border"></span></h2>
                  <!-- <h3 class="fh5co-heading-intro">Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints, engineering drawings, business processes, circuit diagrams and sewing patterns.</h3> -->
                </div>
            </div>
            <div class="col-md-4">
              <div class="fh5co-main-service">
                <!-- 
                “Block-level” links in HTML5
                http://html5doctor.com/block-level-links-in-html-5/
                 -->
                <a href="#" class="fh5co-block-links text-center">
                  <div class="icon-circle">
                    <i class="fas fa-bus"></i>
                  </div>
                  <h2>UNIDADES</h2>
                </a>
              </div>    
            </div>
            <div class="col-md-4">

              <div class="fh5co-main-service">
                <a href="#" class="fh5co-block-links text-center">
                  <div class="icon-circle">
                    <i class="fas fa-ticket-alt"></i>
                  </div>
                  <h2>BOLETERIA</h2>
                </a>
              </div>  

            </div>
            <div class="col-md-4">

              <div class="fh5co-main-service">
                <a href="#" class="fh5co-block-links text-center">
                  <div class="icon-circle">
                    <i class="fas fa-user-tie"></i>
                  </div>
                  <h2>CUENTA</h2>
                </a>
              </div>    

            </div>

          </div>
          <!-- END .row -->
          <div class="row">
            <div class="col-md-4">
              <div class="fh5co-main-service">
                <!-- 
                “Block-level” links in HTML5
                http://html5doctor.com/block-level-links-in-html-5/
                 -->
                <a href="" class="fh5co-block-links text-center">
                  <div class="icon-circle">
                    <i class="far fa-calendar-check"></i>
                  </div>
                  <h2>TURNOS</h2>
                </a>
              </div>    
            </div>
            <div class="col-md-4">

              <div class="fh5co-main-service">
                <a href="/guardarRuta/add" class="fh5co-block-links text-center">
                  <div class="icon-circle">
                    <i class="fas fa-route"></i>
                  </div>
                  <h2>RUTAS</h2> 
                </a>
              </div>  

            </div>
            <div class="col-md-4">

              <div class="fh5co-main-service">
                <a href="/guardarfrecuencia/add" class="fh5co-block-links text-center">
                  <div class="icon-circle">
                    <i class="fas fa-map-marked-alt"></i>
                  </div>
                  <h2>FRECUENCIAS</h2>
                </a>
              </div>    

            </div>

          </div>
        </div>