<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    rel="modificar_cooperativa_formulario"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>
                Editar Datos
            </h3>
        </div>
        <div class="card-body">
            <form action="/guardarCooperativa/modify/{{cooperativa._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="Nombre"
                        value="{{cooperativa.nombre}}">
                </div>
                <div class="form-group">
                    <textarea name="direccion" class="form-control">{{cooperativa.direccion}}</textarea>
                </div>
                </br>
                <div class="text-center">
                    <button class="btn tbn-primary" type="submit"> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>