<!-- Modal -->
<div class="modal" id="modificarCooperativa" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <col-md-8>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Direccion</th>
                                    <th>Operaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each cooperativas}}
                                <tr>
                                    <td>{{nombre}}</td>
                                    <td>{{direccion}}</td>
                                    <td>
                                        <a href="{{imageURL}}" target="_black" class="btn btn-primary">Vista</a>
                                        <a class="btn btn-danger">Inabilitar</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </col-md-8>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>