<!-- Navegacion -->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span
          class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">TrackHub</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#restaurant-menu" class="page-scroll">Menu</a></li>
        <li><a href="#portfolio" class="page-scroll">Gallery</a></li>-->

        {{!-- {{#if gen_msg}}
        {{gen_msg}}
        <li><a href="/guardarCooperativa/add" class="page-scroll">Registrar Cooperativa</a></li>
        <li><a href="/frm_inicioUsuario/add" class="page-scroll">Ingresar</a></li>
        <li><a href="/frm_registroUsuario/add" class="page-scroll">Registrarse</a></li>
        <li><a href="/regAdministrador/add" class="page-scroll">Registrar Roles</a></li>
        <li><a href="/test" class="page-scroll">Test Roll</a></li>
        {{/if}}

        {{#if cop_msg}}
        <li><a href="/guardarCooperativa/add" class="page-scroll">Registrar Cooperativa</a></li> --}}


        <li><a href="/" class="page-scroll">Turnos 24 Horas</a></li>
        {{#if cli}}
          <li><a href="/Opciones" class="page-scroll">opciones</a></li>
        {{/if}}

        {{#if gen}}
        
        <li><a href="/regAdministrador/add" class="page-scroll">Registro Gerentes Cooperativa</a></li>
        {{/if}}

        {{#if coo}}

        <li><a href="/guardarCooperativa/add" class="page-scroll">Registro Cooperativa</a></li>
        {{/if}}



      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido, User <b
              class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/frm_inicioUsuario/add"><i class="icon-cog"></i> Iniciar Sesion</a></li>
            <li><a href="/frm_registroUsuario/add"><i class="icon-cog"></i> Registrarme</a></li>
            <li class="divider"></li>
            <li><a href="/cerrarSesion"><i class="icon-off"></i> Cerrar Sesion</a></li>
          </ul>
        </li>
      </ul>
    </div>



</nav>