<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="frecuencia" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="frecuencia" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<section class="u-clearfix u-grey-5 u-section-1" id="carousel_b652">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                    <div class="u-container-layout u-valign-top u-container-layout-1">
                      <img src="/estilosfrecuencia/images/54e3dd474f5ab108f5d084609629317e113fdce15b4c704f75277cd2954acd5d_1280.jpg" alt="" class="u-image u-image-default u-image-1" data-image-width="1280" data-image-height="853">
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-col">
                  <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                      <h3 class="u-text u-text-1">REGISTRO FRECUENCIA</h3>
                      <p class="u-text u-text-2">Recuerde no debe existir varias frecuencias con el mismo origen y el mismo destino</p>
                      <div class="u-form u-form-1">
                        <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 0;" source="custom" name="form">
                          <div class="u-form-group u-form-name">
                            <label for="name-eef9" class="u-label">Origen</label>
                            <input type="text" placeholder="" id="name-eef9" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                          </div>
                          <div class="u-form-email u-form-group">
                            <label for="email-eef9" class="u-label">Destino</label>
                            <input type="email" placeholder="" id="email-eef9" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                          </div>
                          <div class="u-form-group u-form-group-3">
                            <label for="text-24d1" class="u-label">Valor de la Frecuencia</label>
                            <input type="text" placeholder="" id="text-24d1" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
                          </div>
                          <div class="u-form-group u-form-group-4">
                            <label for="text-7593" class="u-label">Dia de la Frecuencia</label>
                            <div class="btn-group u-text u-text-1" role="group" aria-label="Basic checkbox toggle button group">
                              <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                              <label class="btn btn-outline-primary" for="btncheck1">lunes</label>

                              <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                              <label class="btn btn-outline-primary" for="btncheck2">martes</label>

                              <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                              <label class="btn btn-outline-primary" for="btncheck3">miercoles</label>

                              <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                              <label class="btn btn-outline-primary" for="btncheck4">jueves</label>

                              <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                              <label class="btn btn-outline-primary" for="btncheck5">viernes</label>

                              <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                              <label class="btn btn-outline-primary" for="btncheck6">sabado</label>

                              <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
                              <label class="btn btn-outline-primary" for="btncheck7">domingo</label>
                            </div>
                          </div>
                        
                          <!-- Button trigger modal -->
                          <div class="u-text u-text-2">
                            <button type="button" class= "u-border-2 u-border-grey-75 u-btn u-btn-round u-none  u-btn-1 " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Elegir rutas
                            </button>
                          </div>

                          <!-- Modal -->
                          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="staticBackdropLabel">Rutas</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <ul class="list-group">
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                      Loja-Cuenca
                                    </li>
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                      Guayaquil-Manta
                                    </li>
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                      Cuenca-Azogues
                                    </li>
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                      Loja-Machala
                                    </li>
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                      Machala-Guayaquil
                                    </li>
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                      Loja-Cuenca
                                    </li>
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                      Guayaquil-Manta
                                    </li>
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                      Cuenca-Azogues
                                    </li>
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                      Loja-Machala
                                    </li>
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                      Machala-Guayaquil
                                    </li>
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                      Loja-Cuenca
                                    </li>
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                      Guayaquil-Manta
                                    </li>
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                      Cuenca-Azogues
                                    </li>
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                      Loja-Machala
                                    </li>
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                      Machala-Guayaquil
                                    </li>
                                  </ul>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                  <button type="button" class="btn btn-primary">Aceptar</button>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="u-align-center u-form-group u-form-submit">
                            <a href="#" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-btn-submit u-button-style u-text u-text-2">Guardar</a>
                            <input type="submit" value="submit" class="u-form-control-hidden">
                          </div>
                          <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                          <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                          <input type="hidden" value="" name="recaptchaResponse">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <container>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Origen</th>
            <th scope="col">Destino</th>
            <th scope="col">Precio</th>
            <th scope="col">Dias</th>
            <th scope="col">Rutas</th>
            <th scope="col">Modificar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Loja</td>
            <td>Quito</td>
            <td>$20.00</td>
            <td>Lunes,Miercoles, viernes</td>
            <td><button type="button" class="u-border-2 u-border-grey-75 btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">ver rutas</button></td>
            <td><a href="#"><button type="button" class="u-border-2 u-border-grey-75 btn-secondary btn-sm">editar</button></td></a>
              
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Loja</td>
            <td>guayaquil</td>
            <td>$15.00</td>
            <td>Martes, Miercoles, viernes</td>
            <td><button type="button" class="u-border-2 u-border-grey-75 btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">ver rutas</button></td>
            <td><a href="#"><button type="button" class="u-border-2 u-border-grey-75 btn-secondary btn-sm">editar</button></td></a>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Loja</td>
            <td>Machala</td>
            <td>$20.00</td>
            <td>Lunes, viernes</td>
            <td><button type="button" class="u-border-2 u-border-grey-75 btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">ver rutas</button></td>
            <td><a href="#"><button type="button" class="u-border-2 u-border-grey-75 btn-secondary btn-sm">editar</button></td></a>
          </tr>
        </tbody>
      </table>
    </container>