<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<nav id="menu" class=" intro navbar navbar-fixed-top">
    <div id="menu" class="text-center"
        style=" background-color: rgba(59, 59, 59, 0.651); margin-top: 110px; margin-bottom: 110px;">
        <div>
            <div class="container ">
                <div class="section-title text-center">
                    <h1> Iniciar Sesión</h1>
                    <hr>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <form>
                        <div class="form-group ">
                            <label class="text-white">Correo </label>
                            <input type="email" class="form-control" placeholder="Correo" autofocus>
                        </div>
                        <div class="form-group ">
                            <label class="text-white">Contraseña <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" placeholder="Tu nombre">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn-primary" style="margin-top: 10px;">
                                Iniciar sesión
                            </button>
                        </div>

                        <div class="text-center p-t-90">
                            <a class="txt1" href="#">
                                ¿Se te olvidó tu contraseña?
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>